<div class="item-inner">
  <article *ngIf="article">
    <div class="card">
      <figure class="card-img-top overlay overlay-1 hover-scale">
        <a>
          <img [src]="article.HeaderImage" alt="" />
        </a>
        <figcaption>
          <h5 class="from-top mb-0">Read More</h5>
        </figcaption>
      </figure>
      <div class="card-body">
        <div class="post-header">
          <h2 class="post-title h3 mt-1 mb-3">
            <a class="link-dark">{{ article.Title }}</a>
          </h2>
        </div>
        <div class="post-content">
          <p>{{ article.Introduction }}</p>
        </div>
      </div>
      <div class="card-footer">
        <ul class="post-meta d-flex mb-0">
          <li class="post-date">
            <i class="uil uil-calendar-alt"></i
            ><span>{{ article.LastMod | date: 'd MMM y'}}</span>
          </li>
          <li class="post-comments">
            <a> <i class="uil uil-file-alt fs-15"></i>{{ article.IdTheme }} </a>
          </li>
        </ul>
      </div>
    </div>
  </article>
</div>
